[build]
command = "npm run build"
publish = "build"

[build.environment]
CI = ""

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

# Автоматично скасовувати старі білди при новому коміті
[build.queue]
stop_previous_build = true 